body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: white;
  --text-primary: #3D4149;
  --text-secondary: royalblue;
  --accent: purple;
  --border-color: #F9FBFC;
  --icon-background: #F9FBFC;
}
[data-theme='dark'] {
  --background: #3339CD;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
  --border-color: #4B50BE;
  --icon-background: #7273DC
}